<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Hello Spring Security</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    </head>
    <body onload="init()">
      <div id="root">/#html#/</div>
      <script>
        function init() {
          var preloadedState = /#state#/;
          ReactNashornApp.render('root', preloadedState);
        }
      </script>
      <script src="/js/bundle.js"></script>
    </body>
</html>